body {
  margin: 0;
  font-family: 'Poppins', sans-serif; /* Poppins is a modern, clean font */
  background-color: #ebbdc4; /* Light pink color */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Fira Code', monospace; /* Fira Code is a monospace font with programming ligatures */
  color: #ebbfc5; /* Light pink color */
}
