body {
  margin: 0;
  font-family: 'Poppins', sans-serif; /* Poppins is a modern, clean font */
  background-color: #ebbdc4; /* Light pink color */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Fira Code', monospace; /* Fira Code is a monospace font with programming ligatures */
  color: #ebbfc5; /* Light pink color */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

#Contact {
  position: relative;
  right: 20px;
}

#FAQ {
  position: relative;
  left: 10px;
}

a {
  margin: 5px;
  font-size: 30px;
  color: black;
  text-decoration: none;
}

a:hover {
  color: black; /* Hover effect to underline links */
}

.button {
  position: absolute;
  top: 0;
  right: 0;
}

.LogIn {
  position: relative;
  float: left;
  width: 50%;
  height: 70%;
  text-align: center;
  padding: 20px;
  margin-right: 20px;
  font-size: 25px;
  border-style: solid;
  border-radius: 15px;
  left: 40px;
}

#username, #password {
  border-radius: 25px;
  background: #eff0ed;
  padding: 20px;
  width: 170px;
  height: 10px;
}

.News {
  position: absolute;
  right: 45px;
  top: 100px;
  width: 400px;
  border-left: 3px solid;
  padding-left: 0;
}

.News a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 70px;
}

.News img.news-img {
  width: 100%;
  height: 200px;
  max-width: 200px;
  border-radius: 8px;
  object-fit: cover;
}

.main {
  margin: 10px;
}

hr {
  width: 70%;
  background-color: black;
}

.WebUpdates {
  position: absolute;
  margin-left: 30px;
  width: 65%;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
}

.CompanyInfo img {
  width: 650px;
  height: 500px ;
  display: block;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 25px;
}

.CompanyInfo {
  margin-left: 0;
  text-align: left;
}

.footer {
  height: 120px;
  background: #cd92d1;
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
}

.fa {
  font-size: 21px;
  width: 3px;
  text-align: center;
  text-decoration: none;
  padding: 5px;
  color: black;
}

.fa:hover {
  opacity: 0.7;
}

.socials, .terms {
  text-align: center;
  font-size: 15px;
}
