.button {
    position: absolute;
    top: 0;
    right: 0;
}

.LogIn {
    position: relative;
    float: left;
    width: 50%;
    height: 70%;
    text-align: center;
    padding: 20px;
    margin-right: 20px;
    font-size: 25px;
    border-style: solid;
    border-radius: 15px;
    left: 40px;
}

#username, #password {
    border-radius: 25px;
    background: #eff0ed;
    padding: 20px;
    width: 170px;
    height: 10px;
}

.News {
  position: absolute;
  right: 45px;
  top: 100px;
  width: 400px; /* Set the width of the news container */
  border-left: 3px solid;
  padding-left: 20px;
  padding-right: 20px; /* Added padding to prevent content from touching the borders */
}

.News img {
  width: 200px; /* Images will take up 100% of the container's width */
  /* Adjust the maximum width to better control the size */
  height: 120px; /* Ensures the aspect ratio is maintained */
  border-radius: 8px;
  object-fit: cover; /* Ensures images cover the area without distorting */
  margin-bottom: 10px; /* Adds space between the image and the text link below it */
  align-items: center;
}

.News a {
  display: block; /* Ensures the link appears below the image */
  text-align: center; /* Centers the text link below the image */
  margin-top: 1px; /* Space above the link */
  margin-bottom: 20px; /* Space below the link before the next image */
  font-size: 23px;
}

.main {
  margin-top: 50px;
}

.main1 {
  height: 400px;
}

hr {
    width: 70%;
    margin-left: 30px;
}

.WebUpdates {
    position: relative;
    margin-left: 30px;
    width: 65%;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
}

.CompanyInfo img {
    width: 650px;
    height: 500px;
    display: block;
    margin-left: 30px;
    border-radius: 25px;
}

.CompanyInfo {
    margin-left: 30px;
    text-align: left;
}
