.chatbot-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ffe4e1;
    border: 2px solid #ff69b4;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  .closeBot {
    position: relative;
    float: right;
    background-color: transparent;
    border: none;
  }
  
  .chatbot-header {
    background-color: #ff69b4;
    color: white;
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid #ff69b4;
  }
  
  .chatbot-messages {
    height: 300px;
    padding: 10px;
    overflow-y: auto;
    background-color: #fff;
  }
  
  .chatbot-message {
    margin-bottom: 10px;
    word-wrap: break-word;
  }

  #prompt {
    position: relative;
    float: left;
    margin-left: 15px;
    height: 40px;
    border-radius: 10px;
    box-shadow: none;
  }

  .submitButton {
    position: relative;
    float: right;
    margin-right: 30px;
    background-color: #ff69b4;
    font-size: 17px;
    padding: 0px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    box-shadow: none;
  }
  
  .form-group {
    text-align: left;
    margin-left: 5px;
  }

  .response-container {
    float: none;
    background-color: #e0adc6;
    text-align: justify;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
  }
